# Păstrează clasele ONNX Runtime
-keep class ai.onnxruntime.** { *; }
-keepclassmembers class ai.onnxruntime.** { *; }

# Păstrează SQLite
-keep class com.almworks.sqlite4java.** { *; }

# Păstrează clasele .NET MAUI
-keep class com.microsoft.maui.** { *; }

# Obfuscarea restului codului
-dontskipnonpubliclibraryclassmembers
-optimizationpasses 5
-repackageclasses ''
-allowaccessmodification